@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraftia';
  src: url('../public/MinecraftRegular-Bmg3.otf') format('truetype');
}

body {
  font-family: 'Minecraftia', sans-serif;
}

